body {
    font-family: Arial, sans-serif;
}

.formulario {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
 
    border-radius: 5px;
}

.input-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"], input[type="tel"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #fdda24;
    color: #000;
    font-weight: bolder;
    font-family: Helvetica;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 20px;
}

button[type="submit"]:hover {
    background-color: #c8a800;
}